.comment {
	margin-top: 1.5rem;

	font-size: 0.813rem;
	line-height: 19px;

	color: #647196;

	.comment-header {
		display: flex;
		justify-content: space-between;
	}
	.profile {
		display: flex;

		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;

			margin-right: 1rem;
		}
		div p:first-child {
			font-weight: bold;
			line-height: 19px;
			/* identical to box height */

			letter-spacing: -0.180556px;

			color: #3a4374;
		}
	}
}
