.suggestion {
	.numberOfVotes {
		display: flex;
		flex-direction: row;
		// justify-content: space-around;
		align-items: center;
		padding: 6px 13px 7px 16px;

		width: 4.3rem;
		height: 32px;

		background: #f2f4fe;
		border-radius: 10px;

		img {
			width: 0.5rem;
			height: 4px;

			margin-right: 10px;
		}
		p {
			font-weight: bold;
			font-size: 0.813rem;
			line-height: 19px;
			letter-spacing: -0.180556px;

			color: #3a4374;
		}
	}
}
