@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Jost", sans-serif;
	background: #f2f2f2;
}

.add-feedback {
	// vertically center

	position: absolute;
	top: 7px;

	margin-left: 3.75rem;
	padding-left: 0.656rem;
	padding-right: 0.656rem;
	width: 8.375rem;

	font-weight: bold;
	font-size: 0.75rem;
	line-height: 19px;
	background: #ad1fea;
}
