.btn {
	// padding: 0.813rem 0 0.688rem 0;
	padding-top: 0.813rem;
	padding-bottom: 0.688rem;
	color: #ffffff;
	border: none;
	border-radius: 10px;

	// vertically center

	position: absolute;
	top: 8px;
}
